In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("opensky_master.csv")
df.head()

,snapshot_time,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate
0,2025-12-12 22:32:37.587579+00:00,408127,SRR6977,United Kingdom,1.765579e+09,1765578734,1.1942,52.0882,8237.22,False,251.59,93.75,0.0
1,2025-12-12 22:32:37.587610+00:00,a5f852,RTY484,United States,1.765579e+09,1765578553,-104.9981,40.4553,NaN,True,4.89,0.00,NaN
2,2025-12-12 22:32:37.587617+00:00,7c35e8,KXM,Australia,1.765579e+09,1765578734,152.0367,-29.2418,8229.60,False,193.50,83.90,0.0
3,2025-12-12 22:32:37.587620+00:00,ab76bc,N838GV,United States,1.765579e+09,1765578734,-149.7424,64.8324,2506.98,False,110.10,90.54,-2.6
4,2025-12-12 22:32:37.587622+00:00,ac96b8,AAL2638,United States,1.765579e+09,1765578734,-77.2486,36.6042,8808.72,False,163.67,239.81,10.4

In [13]:
def Clean_Data(df):
    # Sort by aircraft and time
    df = df.sort_values(['icao24', 'snapshot_time'])

    # Fill callsign missing with 'UNKNOWN'
    df['callsign'] = df['callsign'].fillna('UNKNOWN')

    # Forward-fill numeric columns per aircraft
    numeric_cols = ['time_position', 'longitude', 'latitude', 'baro_altitude', 'velocity', 'vertical_rate']
    df[numeric_cols] = df.groupby('icao24')[numeric_cols].ffill().bfill()

    # If baro_altitude is null and on_ground=True, set 0
    df.loc[(df['baro_altitude'].isna()) & (df['on_ground']==True), 'baro_altitude'] = 0

    # Convert snapshot_time to datetime
    df['snapshot_time'] = pd.to_datetime(df['snapshot_time'])

    return df
df = Clean_Data(df)  # <- pass df to the function and get cleaned df back
df.head()

,snapshot_time,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate
7198,2025-12-12 22:32:37.595435+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578734,28.4390,-26.3038,5524.50,False,206.40,171.69,13.66
17212,2025-12-12 22:32:52.798028+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578765,28.4481,-26.3602,5966.46,False,206.84,171.85,13.98
27227,2025-12-12 22:33:08.553804+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578775,28.4511,-26.3793,6103.62,False,206.69,172.13,13.66
37247,2025-12-12 22:33:24.834443+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578797,28.4574,-26.4202,6400.80,False,207.35,171.87,13.00
47251,2025-12-12 22:33:39.573426+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578813,28.4620,-26.4493,6583.68,False,208.88,171.93,11.05

In [ ]:
def remove_duplicates(df):
    """
    Remove duplicate flight data based on 'icao24' and 'snapshot_time'.
    Keeps the latest record if duplicates exist.
    """
    # Convert snapshot_time to datetime if not already
    if df['snapshot_time'].dtype == 'object':
        df['snapshot_time'] = pd.to_datetime(df['snapshot_time'])

    # Drop duplicates: keep the last occurrence
    df = df.drop_duplicates(subset=['icao24', 'snapshot_time'], keep='last')
    
    return df
df = remove_duplicates(df)

In [15]:
df.head()

,snapshot_time,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate
7198,2025-12-12 22:32:37.595435+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578734,28.4390,-26.3038,5524.50,False,206.40,171.69,13.66
17212,2025-12-12 22:32:52.798028+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578765,28.4481,-26.3602,5966.46,False,206.84,171.85,13.98
27227,2025-12-12 22:33:08.553804+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578775,28.4511,-26.3793,6103.62,False,206.69,172.13,13.66
37247,2025-12-12 22:33:24.834443+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578797,28.4574,-26.4202,6400.80,False,207.35,171.87,13.00
47251,2025-12-12 22:33:39.573426+00:00,00811f,FSK927,South Africa,1.765579e+09,1765578813,28.4620,-26.4493,6583.68,False,208.88,171.93,11.05

In [24]:
data = pd.read_csv("arrivals_EDDF.csv")
data.head()

Empty DataFrame
Columns: [icao24, callsign, departure_airport, arrival_airport, firstSeen, lastSeen]
Index: []